<div class="row">
  <div class="col-sm-12">

    <div class="row" style="background-color: palevioletred;height:50px;font-size: large;padding-top: 10px;color:rgb(231, 207, 207)">
      <div class="col-sm-2"></div>
      <div class="col-sm-1">
        <a style="color:rgb(231, 207, 207);text-decoration: none;" routerLink="home">BMW</a>
      </div>
      <div class="col-sm-4" >
        <a style="color:rgb(231, 207, 207);text-decoration: none;" routerLink="home" >Home</a>&nbsp;&nbsp;
        <a style="color:rgb(231, 207, 207);text-decoration: none;" routerLink="login">Login</a>&nbsp;&nbsp;
        <a style="color:rgb(231, 207, 207);text-decoration: none;" routerLink="register">Register</a>&nbsp;&nbsp;
        <a style="color:rgb(231, 207, 207);text-decoration: none;" routerLink="contact">ContactUs</a>&nbsp;&nbsp;
        <a style="color:rgb(231, 207, 207);text-decoration: none;" routerLink="about">About</a>&nbsp;&nbsp;
      </div>
      <div class="col-sm-3"></div>
    </div>


    <div class="row">
      <div class="col-sm-12">
        <router-outlet></router-outlet>
      </div>
    </div>

    <div class="row" style="background-color: palevioletred;height:50px;font-size: large;padding-top: 10px;color:rgb(231, 207, 207)">
      <div class="col-sm-1"></div>
      <div class="col-sm-3"></div>
      <div class="col-sm-4">
        <p>CopyRight www.BMW.com</p>
      </div>
      <div class="col-sm-3"></div>
    </div>



  </div>
</div>