<div class="row" style="background-color:yellow;padding-top:10px">
    <div class="col-sm-12">

        <div class="row" style="text-align:center">
            <div class="col-sm-12">
                <h1>Registration</h1>
            </div>
        </div>

        <div style="background-color:white;padding-top:10px;border-radius:10px" >

        <div class="row" style="margin-top:10px">
            <div class="col-sm-4"></div>
            <div class="col-sm-1">EmployeeId</div>
            <div class="col-sm-3" style="margin-right:20px">
                <input type="text" placeholder="Enter Employee Id" class="form-control" />
            </div>
            <div class="col-sm-4"></div>
        </div>

        <div class="row" style="margin-top:10px">
            <div class="col-sm-4"></div>
            <div class="col-sm-1">Name</div>
            <div class="col-sm-3" style="margin-right:20px">
                <input type="text" placeholder="Enter Name" class="form-control" />
            </div>
            <div class="col-sm-4"></div>
        </div>

        <div class="row" style="margin-top:10px">
            <div class="col-sm-4"></div>
            <div class="col-sm-1">Password</div>
            <div class="col-sm-3" style="margin-right:20px">
                <input type="password" placeholder="Enter Password" class="form-control" />
            </div>
            <div class="col-sm-4"></div>
        </div>

        <div class="row" style="margin-top:10px">
            <div class="col-sm-4"></div>
            <div class="col-sm-1">Gender</div>
            <div class="col-sm-3" style="margin-right:20px">
                <input type="radio" id="btn1" name="Gender" value="Male" />Male |
                <input type="radio" id="btn2" name="Gender" value="Female" />Female
            </div>
            <div class="col-sm-4"></div>
        </div>

        <div class="row" style="margin-top:10px">
            <div class="col-sm-4"></div>
            <div class="col-sm-1">Phone</div>
            <div class="col-sm-3" style="margin-right:20px">
                <input type="text" placeholder="Enter Phone Number" class="form-control" />
            </div>
            <div class="col-sm-4"></div>
        </div>

        <div class="row" style="margin-top:10px">
            <div class="col-sm-4"></div>
            <div class="col-sm-1">Email</div>
            <div class="col-sm-3" style="margin-right:20px">
                <input type="email" placeholder="Enter Email" class="form-control" />
            </div>
            <div class="col-sm-4"></div>
        </div>

        <div class="row" style="margin-top:10px">
            <div class="col-sm-4"></div>
            <div class="col-sm-1">Salary</div>
            <div class="col-sm-3" style="margin-right:20px">
                <input type="text" placeholder="Enter Salary" class="form-control" />
            </div>
            <div class="col-sm-4"></div>
        </div>

        <div class="row" style="margin-top:10px">
            <div class="col-sm-4"></div>
            <div class="col-sm-1">Address</div>
            <div class="col-sm-3" style="margin-right:20px">
                <textarea id="txt1" name="Address" rows="5" class="form-control"></textarea>
            </div>
            <div class="col-sm-4"></div>
        </div>

        <div class="row" style="margin-top:10px">
            <div class="col-sm-4"></div>
            <div class="col-sm-1">DeptNo</div>
            <div class="col-sm-3" style="margin-right:20px">
               <select class="form-control">
                <option value="0">-Select Option-</option>
                   <option value="10">Manager</option>
                   <option value="20">HR</option>
                   <option value="30">Sales</option>
               </select>
            </div>
            <div class="col-sm-4"></div>
        </div>

        <div class="row" style="margin-top:20px;text-align:center">
            <div class="col-sm-12">

                <input type="button" id="btnRegister" value="Register" class="btn btn-success" />
                <input type="button" id="btnCancel" value="Cancel" class="btn btn-danger" />
            </div>

        </div>

    </div>




    </div>
</div>

